{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% block body %}

<link href="/static/css/animationbg.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container my-4 px-0" id="banner">
  <div id="cloud-scroll"></div>
</div>
</div>


<div class="container">
<h1> Services We Provide </h1>
<div>
</div>
<p>{% lorem 4 b random %}  </p>
{% endblock body %}
